.section1{
  background:url(../images/h_img.jpg)no-repeat;
  height:600px;
  background-size:cover;
}
.section1_fcolor{
  color: white;
}
#Delani{
  padding: 150px;

}

#services_section{
  color: white;
  background: url(../images/s_image.jpg)no-repeat;
  background-size:cover;
  padding: 90px;

}
.section2{
  text-align: center
}
#about_us{
  padding:60px;
}
