body{
  font-family: 'Roboto Condensed', sans-serif;
}
.section1{
  background:url(../images/h_img.jpg)no-repeat;
  height:600px;
  background-size:cover;
}
.section1_fcolor{
  color: white;
}
#Delani{
  padding: 150px;

}

#services_section{
  color: white;
  background: url(../images/s_image.jpg)no-repeat;
  background-size:cover;
  padding: 90px;

}
.section2{
  text-align: center;
}
#about_us{
  padding:60px;
}
#section4{
  background:url(../images/c_image.jpg)no-repeat;
  height:500px;
  background-size: cover;
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
  outline: none;
}
input[type=text]{
  background: transparent;
  color:white;
  width:360px;

}
textarea{
  background: transparent;
  color:white;
}
.images{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:70%;
}

#footer{
  height:40px;
}
.col-md-3:hover{
  opacity: 0.5;
}
